kafka_topic=pypro
zookeeper_url=localhost
kafka_group=my_group
kafka_cluster=my_cluster
thread_count=2
influx_db_name=test1
influx_db_url=http://localhost:8086
influx_username=myuser
influx_password=mypass
serializer=avro